/* COLORS */
$clr-gray-dark: #2e3138;
$clr-gray-medium: #40454f;
$clr-gray-light: #535965;
$clr-gray-hover: #5c6370;
$clr-red: #ff715b;
$clr-red-english: #a7525d;
$clr-blue: #1ccad8;
$clr-green: #78c091;
$clr-yellow: #fed766;
$clr-white-dark: #e7eeea;

.edit-form {
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input-container {
    height: 100%;
    width: 100%;
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__btn-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
