@import './form.scss';

$clr-gray-dark: #2d3142;
$clr-gray-medium: #4a516d;
$clr-gray-light: #636c92;
$clr-white-dark: #e0e0e0;
$clr-white-light: #f5f5f5;
$clr-red-medium: #ee6c4d;
$clr-red-light: #f1856a;
$clr-green-medium: #7faa74;
$clr-green-light: #96b98d;

:root {
  font-family: sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $clr-white-light;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 1.5vmax;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $clr-gray-dark;
}

.form {
  width: 100%;
  max-width: 768px;
  padding: 2.5vmax;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: $clr-gray-medium;

  &__input-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .input-wrapper {
      margin: 0.25rem 0 0.75rem;
      position: relative;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      .input-text {
        height: 2.5rem;
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 5.5rem;

        outline: none;
        border: 2px solid $clr-gray-dark;
        border-radius: 10px;

        font-size: 1rem;
        color: $clr-gray-dark;

        background-color: $clr-white-dark;

        transition: all 0.15s ease;

        &:focus {
          border-color: $clr-green-light;
          background-color: $clr-white-light;
        }
      }

      .character-counter {
        padding-left: 0.5rem;
        position: absolute;
        right: 0.75rem;

        text-align: right;

        font-size: 0.7rem;
        letter-spacing: 1px;
        color: $clr-gray-light;

        border-left: 1px solid $clr-gray-light;

        &.max {
          color: $clr-red-medium;
        }
      }
    }
  }

  .add-btn {
    height: 2.5rem;
    width: 6rem;

    cursor: pointer;

    color: $clr-gray-dark;

    border: 2px solid $clr-gray-dark;
    border-radius: 10px;
    background-color: $clr-green-medium;

    transition: all 0.15s ease;

    &:hover {
      background-color: $clr-green-light;
    }
  }
}

.list-container {
  width: 100%;
  max-width: 768px;
  margin-top: 1.5vmax;
  padding: 2.5vmax;

  display: flex;
  flex-direction: column;

  background-color: $clr-gray-medium;
  border-radius: 10px;
}

.list {
  list-style: none;
}

.todo {
  min-height: 100px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  cursor: pointer;

  border: 2px solid $clr-gray-dark;
  border-radius: 10px;
  background-color: $clr-gray-light;

  &.open {
    background-color: $clr-green-light;
  }

  &__info-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: 1px solid red; */

    &__date {
      font-size: 0.8rem;
    }

    &__task {
      margin: 0.25rem 0;
      color: $clr-white-light;
    }

    &__description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }

  &__btn-container {
    width: 4.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .done-btn {
      height: 2rem;
      width: 2rem;

      cursor: pointer;

      color: $clr-gray-dark;

      border: 2px solid $clr-gray-dark;
      border-radius: 10px;

      background-color: $clr-green-medium;
    }

    .remove-btn {
      height: 2rem;
      width: 2rem;

      cursor: pointer;

      color: $clr-gray-dark;

      border: 2px solid $clr-gray-dark;
      border-radius: 10px;

      background-color: $clr-red-medium;
    }
  }
}
