@import './form.scss';

$clr-gray-dark: #2d3142;
$clr-gray-dark-opaque: rgba(45, 49, 66, 0.5);
$clr-gray-medium: #4a516d;
$clr-gray-light: #636c92;
$clr-gray-hover: #6d769c;
$clr-gray-light-opaque: rgba(99, 108, 146, 0.5);
$clr-white-dark: #e0e0e0;
$clr-white-light: #f5f5f5;
$clr-white-light-opaque: rgba(245, 245, 245, 0.5);
$clr-red-medium: #ee6c4d;
$clr-red-light: #f1856a;
$clr-green-medium: #7faa74;
$clr-green-light: #96b98d;
$clr-gold: #ffb85c;
$clr-gold-light: #ffc170;

:root {
  font-family: sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $clr-white-light;
}

html {
  background-color: $clr-gray-dark;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App {
  /* height: 100vh;
  width: 100vw; */
  padding: 1.5vmin;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $clr-gray-dark;
}

.form {
  width: 100%;
  max-width: 768px;
  padding: 3.5vmin;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: $clr-gray-medium;

  label {
    font-size: 0.8rem;
  }

  &__input-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .input-wrapper {
      margin: 0.25rem 0 0.75rem;
      position: relative;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      .input-text {
        height: 2.5rem;
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 5.5rem;

        outline: none;
        border: 2px solid $clr-gray-dark;
        border-radius: 10px;

        font-size: 1rem;
        color: $clr-gray-dark;

        background-color: $clr-white-dark;

        transition: all 0.15s ease;

        &:focus {
          border-color: $clr-green-light;
          background-color: $clr-white-light;
        }
      }

      .character-counter {
        padding-left: 0.5rem;
        position: absolute;
        right: 0.75rem;

        text-align: right;

        font-size: 0.7rem;
        letter-spacing: 1px;
        color: $clr-gray-light;

        border-left: 1px solid $clr-gray-light;

        &.max {
          color: $clr-red-medium;
        }
      }
    }
  }

  .add-btn {
    height: 2.5rem;
    width: 6rem;

    cursor: pointer;

    font-weight: bolder;
    color: $clr-gray-dark;

    border: 2px solid $clr-gray-dark;
    border-radius: 10px;
    background-color: $clr-green-medium;

    transition: background-color 0.15s ease;

    &:hover {
      background-color: $clr-green-light;
    }
  }
}

.list-container {
  height: 100%;
  width: 100%;
  max-width: 768px;
  margin-top: 1.5vmin;
  padding: 1.5vmin 3.5vmin;

  display: flex;
  flex-direction: column;

  background-color: $clr-gray-medium;
  border-radius: 10px;
}

.todo-list {
  list-style: none;
}

.todo {
  min-height: 100px;
  margin: 1.5vmin 0;
  padding: 0.75rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  cursor: pointer;

  border: 2px solid $clr-gray-dark;
  border-radius: 10px;
  background-color: $clr-gray-light;

  transition: all 0.2s ease;

  &:hover {
    background-color: $clr-gray-hover;
  }

  &.done {
    p,
    h3 {
      text-decoration: line-through 2px;
      color: $clr-white-light-opaque;
    }

    border-color: $clr-gray-dark-opaque;
    background-color: $clr-gray-light-opaque;
  }

  /* &.open {
    background-color: $clr-green-light;
  } */

  &__info-container {
    height: 100%;
    width: calc(100% - 4rem);

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__date {
      font-size: 0.7rem;
    }

    &__task {
      margin: 0.25rem 0;
      font-weight: 400;
      color: $clr-white-light;
    }

    &__description {
      font-size: 0.9rem;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }

  &__btn-container {
    height: 4.5rem;
    width: 4rem;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .done-btn {
      height: 1.5rem;
      width: 1.5rem;

      cursor: pointer;

      color: $clr-green-medium;

      border: 2px solid $clr-gray-medium;
      border-radius: 10px;

      background-color: transparent;

      transition: all 0.2s ease;

      &:hover {
        color: $clr-gray-dark;
        border-color: $clr-gray-dark;
        background-color: $clr-green-light;
      }
    }

    .remove-btn {
      /* height: 1.5rem;
      width: 1.5rem; */
      height: 2rem;
      width: 4rem;

      cursor: pointer;

      font-weight: bolder;
      color: $clr-red-medium;

      border: 2px solid $clr-gray-medium;
      border-radius: 10px;

      background-color: transparent;

      transition: all 0.2s ease;

      &:hover {
        color: $clr-gray-dark;
        border-color: $clr-gray-dark;
        background-color: $clr-red-light;
      }
    }

    .edit-btn {
      height: 2rem;
      width: 4rem;

      cursor: pointer;

      font-weight: bolder;
      color: $clr-gold;

      border: 2px solid $clr-gray-medium;
      border-radius: 10px;

      background-color: transparent;

      transition: all 0.2s ease;

      &:hover {
        color: $clr-gray-dark;
        border-color: $clr-gray-dark;
        background-color: $clr-gold-light;
      }
    }
  }
}
