:root {
  font-family: sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f5f5f5;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 1.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2d3142;
}

.form {
  width: 100%;
  max-width: 768px;
  padding: 2.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4a516d;
}
.form__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__input-container .input-wrapper {
  margin: 0.25rem 0 0.75rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__input-container .input-wrapper .input-text {
  height: 2.5rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 5.5rem;
  outline: none;
  border: 2px solid #2d3142;
  border-radius: 10px;
  font-size: 1rem;
  color: #2d3142;
  background-color: #e0e0e0;
  transition: all 0.15s ease;
}
.form__input-container .input-wrapper .input-text:focus {
  border-color: #96b98d;
  background-color: #f5f5f5;
}
.form__input-container .input-wrapper .character-counter {
  padding-left: 0.5rem;
  position: absolute;
  right: 0.75rem;
  text-align: right;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #636c92;
  border-left: 1px solid #636c92;
}
.form__input-container .input-wrapper .character-counter.max {
  color: #ee6c4d;
}
.form .add-btn {
  height: 2.5rem;
  width: 6rem;
  cursor: pointer;
  color: #2d3142;
  border: 2px solid #2d3142;
  border-radius: 10px;
  background-color: #7faa74;
  transition: all 0.15s ease;
}
.form .add-btn:hover {
  background-color: #96b98d;
}

.list-container {
  width: 100%;
  max-width: 768px;
  margin-top: 1.5vmax;
  padding: 2.5vmax;
  display: flex;
  flex-direction: column;
  background-color: #4a516d;
  border-radius: 10px;
}

.list {
  list-style: none;
}

.todo {
  min-height: 100px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  border: 2px solid #2d3142;
  border-radius: 10px;
  background-color: #636c92;
}
.todo.open {
  background-color: #96b98d;
}
.todo__info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}
.todo__info-container__date {
  font-size: 0.8rem;
}
.todo__info-container__task {
  margin: 0.25rem 0;
  color: #f5f5f5;
}
.todo__info-container__description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.todo__btn-container {
  width: 4.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__btn-container .done-btn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: #2d3142;
  border: 2px solid #2d3142;
  border-radius: 10px;
  background-color: #7faa74;
}
.todo__btn-container .remove-btn {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: #2d3142;
  border: 2px solid #2d3142;
  border-radius: 10px;
  background-color: #ee6c4d;
}/*# sourceMappingURL=main.css.map */